body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  margin: 5%;
}

.reviewBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2%;
}

@media only screen and (min-width: 600px) {
  .reviewCard {
    width: 50%;
  }
}

.singleReviewCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2%;
}

.commentArea {
  margin-top: 2%;
}

.commentCard {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.container {
  padding: 2px 16px;
  margin: 2%;
}

.commentCard .container {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .commentCard {
    width: 90%;
  }
}

.reviewBody {
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .singleReviewCard {
    width: 90%;
  }

  .singleReviewCard img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  margin-bottom: 5%;
}

.reviewImage {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  color: gray;
}

.singleReviewTitle {
  text-align: center;
}

.reviewDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  color: gray;
}

.reviewData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  color: gray;
}

.randomReview {
  background-color: brown;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10%;
}
